
<div class="container">
    <div class="row">
        <div  class="col-12">
            <div *ngIf="vista">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">codigo</th>
                        <th scope="col">descripcion</th>
                        <th scope="col">precio</th>
                        <th scope="col">stock</th>
                        <th scope="col">pais</th>
                        <th scope="col">comestible</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr (click)="selecionarRepartidor(producto)" *ngFor="let producto of productos$ | async">
                        <td>{{producto.codigo}}</td>
                        <td>{{producto.descripcion}}</td>
                        <td>{{producto.precio}}</td>
                        <td>{{producto.stock}}</td>
                        <td>{{producto.pais.nombre}}</td>
                        <td>{{producto.comestible}}</td>
                        <td><img class="img-thumbnail" width="40px" height="40px" [src]="producto.pais.bandera" alt="bandera"></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <!-- <div *ngIf="!vista">
                <app-pelicula-listado (eventoParaDetalle)="detalleRecibidoMain($event) "></app-pelicula-listado>
            </div> -->
            <!-- <button class="btn btn-primary" (click)="cambiarVista()">Cambiar vista</button> -->
        </div>
    </div>
    <div class="row">

        <!-- <div class="col-4">
            <app-baja-pelicula [detalleRecibido]="productoAMostrar"></app-baja-pelicula>
        </div> -->
        <div class="col-6">
            <!-- <app-detalle-pelicula (eventoParaDetalle)="detalleRecibidoMain($event)" [detalleRecibido]="productoAMostrar"></app-detalle-pelicula> -->
            <app-detalle-producto  [detalleRecibido]="productoSelecionado"></app-detalle-producto>

        </div>
        <div class="col-6">
          <app-detalle-pais  [detalleRecibido]="productoSelecionado"></app-detalle-pais>
            <!-- <app-edicion-pelicula [detalleRecibido]="productoAMostrar"></app-edicion-pelicula> -->
        </div>
    </div>
</div>